.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 24px;
  font-weight: 600;
}

.item {
  background-color: hsla(225, 43%, 40%, 0.306);
  padding: 10px;
  border-radius: 5px;
  min-width: 100px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover {
  background-color: hsl(225deg 43% 40% / 57%);
}
