.container {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 30%;
  padding: 3%;
  background-color: hsla(225, 43%, 40%, 0.306);
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
}

.input {
  height: 24%;
  border: 2px solid #42424298;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 18px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  border: 2px solid #424242;
  background-color: #424242;
  color: white;
  margin: 0 0 0 auto;
}
