.container {
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: hsla(225, 43%, 40%, 0.306);
  padding: 36px;
  border-radius: 15px;
}

.header {
  color: #424242;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.input {
  height: 3em;
  width: 100%;
  border: 2px solid #42424298;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 18px;
}

.button {
  width: 50%;
  height: 3em;
  border-radius: 5px;
  border: 2px solid #424242;
  background-color: #424242;
  color: white;
  margin: 0 auto;
  font-size: 18px;
}

.button:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}
